<h1>Editing menu_item</h1>

<% form_for(@menu_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

	<h3>Ingredient Amounts</h3>
	
	<% fields_for :ingredients do |t| %>
		<% @ingredients_list.each do |i| %>
			<% t.fields_for i[:name].to_sym do |i_form| %>
				<p>
					<%= i_form.hidden_field :menu_item_id, :value => @menu_item.id %>
					<%= i_form.hidden_field :inventory_item_id, :value => i[:id] %>
					<%= i_form.label :amount, i[:name].capitalize.pluralize %>: 
					<%= i_form.text_field :amount, :size => 2, :value => @menu_item.amount(i[:id]) %>
				</p>
			<% end %>
		<% end %>
	<% end %>


  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @menu_item %> |
<%= link_to 'Back', menu_items_path %>