<p>
  <b>Price:</b>
  <%=h @menu_item.price %>
</p>

<p>
  <b>Name:</b>
  <%=h @menu_item.name %>
</p>

<p>
	<% @menu_item.ingredients.each do |i| %>
		<% if i.amount > 1%>
			<%=h i.amount %> <%=h i.name.pluralize %><br />
		<% else %>
			<%=h i.amount %> <%=h i.name %><br />
		<% end %>
	<% end %>
</p>


<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>