<p>
  <b>Price:</b>
  <%=h number_to_currency @menu_item.price.to_f/100 %>
</p>

<p>
  <b>Name:</b>
  <%=h @menu_item.name %>
</p>

<p>
	<% @menu_item.ingredients.each do |i| %>
		<%=h i.amount %> <%=  (i.amount > 1) ? i.name.pluralize : i.name %><br />
	<% end %>
</p>


<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
