<h1>New order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

	<% f.fields_for :menu_items do |foo| %>
		<% MenuItem.all.each do |m| %>
			<p>
				<%= foo.label m.id, m.name %>
				<%= foo.text_field m.id, :value => 0, :size => 2 %> | Price: <%= number_to_currency(m.price, :unit => "$") %>
			</p>
		<% end %>
	<% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>