<h1>New order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

	<% MenuItem.all.each do |m| %>
		<% fields_for m.name.to_sym do |ff| %>
		<p>
			<%= ff.label :amount, m.name %>
			<%= ff.text_field :amount, :value => 0, :size => 2 %> | Price: <%= number_to_currency(m.price, :unit => "$") %>
		</p>
		<% end %>
	<% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>